a{
   
    color:white;
    font-weight: bold;
    font: italic;
    
}
body{
    background-image: url(/home/sunbeam/Desktop/friends/1.jpg);background-attachment:fixed;background-repeat:  no-repeat;background-size: cover;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 200px;
    color:azure;
    font-weight: bold;
    font:italic
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: ghostwhite;
   
}
